/* General container setup */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 115vh;
  width: 100vw;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/* Split screen styling for left and right sections */
.splitScreen {
  display: flex;
  width: 100%;
  height: calc(100% - 100px); /* Adjust based on the height of the title box */
}

.left, .right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Stylish backgrounds with subtle gradients */
.left {
  background: linear-gradient(to bottom, #6a11cb 0%, #2575fc 100%);
  color: white;
}

.right {
  background: linear-gradient(to bottom, #f25a3ce9 0%, #ee9c29 100%);
  color: white;
}

/* Content description with better layout */
.description {
  text-align: center;
  max-width: 80%;
  padding: 40px; /* Increased padding for better layout */
  box-shadow: 0 4px 6px rgba(0,0,0,0.2); /* Subtle shadow for depth */
}

/* Image styling for visual appeal */
.image {
  width: 60%; /* Adjust size based on design needs */
  margin-bottom: 20px;
}

/* Enhanced button aesthetics */
.button {
  margin-top: 20px;
  padding: 15px 30px;
  background-color: white;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  border-radius: 25px; /* Very rounded corners */
  font-size: 16px;
  font-weight: bold;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.8);
  transform: scale(1.05);
}

/* Central title box with elegant styling */
.titleBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10px 20px;
  width: 150px; /* Adjusted for better square shape */
  height: 150px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px; /* Soft rounded corners for the title box */
}

.title {
  margin: 0;
  text-align: center;
  font-size: 24px;
}
