.container {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    width: fit-content; /* Fit to the size of the contents */
    position: relative; /* Establishes a positioning context for absolute positioned elements */
}

.textArea {
    width: 700px; /* Width of the text box */
    resize: none;
    border: 3px solid black;
    font-size: 26px;
    text-align: center;
    align-items: center;
    padding-top: 2%;
  }

  .submitButton {
    padding: 0.6em 1.5em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1em;
    width: 30%;
    margin-top: 20px;
  }

  .buttonWrapper {
    display: flex;
    justify-content: flex-end; /* Aligns the button to the right */
  }
  
  .submitButton:hover {
    background-color: #0056b3;
  }

  /* Custom scrollbar styles */
.textArea::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

.textArea::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
}

.textArea::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
}

.textArea::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color when hovering over the scrollbar thumb */
}