.container {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    width: fit-content; /* Fit to the size of the contents */
    position: relative; /* Establishes a positioning context for absolute positioned elements */
}

.textArea {
    width: 700px; /* Width of the text box */
    resize: none;
    border: 3px solid black;
    font-size: 25px;
  }

  .submitButton {
    margin-top: 10px; /* Adjust the value as needed */
    padding: 10px 20px;
    background-color: #0070f3;
    color: white;
    border: none;
    cursor: pointer;
    width: 100px;
    align-self: flex-end;
}
  .submitButton:hover {
    background-color: #0056b3;
  }

  /* Custom scrollbar styles */
.textArea::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

.textArea::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
}

.textArea::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
}

.textArea::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color when hovering over the scrollbar thumb */
}